/*Copyright ©. All rights reserved. Designed by Antonio Jimenez Martienz and Cedric Lallemand */

/*welcome.html*/
body  {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 17px;
	background-color: rgb(123, 123, 255);
}
.container{
    width:600px;
    height: 400px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.logo{
    width:340px;
    height: 400px;
    border: 1px solid black;
	float: left;
}
#imgLogo{
    width:340px;
    height: 400px;
}

.log{
    width:250px;
    height: 400px;
	float: right;
}
.login{
    width:250px;
    height: 80px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	padding-top: 10px;
	text-align: right;
	border: 1px solid black;
}
.login label{
	float: left;
}

.login form{
	margin-right: 2px;
}
.login input {
	margin-bottom: 3px;
}
.singup{
    width:250px;
    height: 290px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	padding-top: 10px;
	text-align: right;
	font-size: 14px;
	border: 1px solid black;
}
.singup p{
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}
.singup form{
	margin-right: 2px;
}
.singup input {
	margin-bottom: 3px;
}
.singup label{
	float: left;
}
.singup select{
	width:173px;
	margin-bottom: 3px;
}

/*profile*/
#home{
	width:750px;
    height: 400px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	background-color: rgb(255, 255, 255);
	display:none;
}
#browse{
	width:750px;
    height: 450px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	background-color: rgb(255, 255, 255);
	display:none;
}
#account{
	width:750px;
    height: 400px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	background-color: rgb(255, 255, 255);
	display:block;
}

/*account*/
.formChangePassword{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 40px;
  width: 199px;
  padding-left: 10px;
}
#buttomSignOut{
  float: right;
  margin-right: 18px;
  margin-top: 65px;
}
.formChangePassword p{
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}
/*home*/
#dataProfile{
	padding-bottom: 15px;
    padding-top: 20px;
    width: 270px;
    padding-left: 31px;
	float : left;
}
#dataProfileFrame{
  	background-color: rgb(65, 215, 164);
  	border: 1px solid black;
  	padding-left: 10px;
  	padding-bottom: 20px;
}
#dataProfile p{
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}

#mymessage{
	padding-bottom: 15px;
	padding-top: 20px;
	width: 400px;
	float: right;
	padding-right: 25px;
}
#mymessageFrame{
  	background-color: rgb(65, 215, 164);
  	border: 1px solid black;
  	padding-left: 10px;
  	padding-bottom: 20px;
	height:320px;
		
}
#listMessage, #listMessageBrowse{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding-left: 10px;
    height: 203px;
    width: 364px;
    margin-bottom: 10px;
	overflow: scroll;

}
#mymessageP{
	text-align: center;
	font-size: larger;
	font-weight: bolder;
}
#writeMessage, #writeMessageBrowse{
	height: 25px;
    width: 377px;
}
#sendMessage{
    margin-top: 10px;
}

/*browse*/
#searchProfile{
    margin-left: 32px;
    height: 25px;
    width: 270px;
    margin-top: 10px;
    background-color: rgb(207, 241, 229);
}

/*tab*/
.nav-container {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 26px;
}
.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-container li {
    float: left;
}

.nav-container li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-container li label:hover {/* Change the link color to #111 (black) on hover */
    background-color: #111;
}

#ul-right{
	float:right;
}
